<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Radiant - have a lovely day</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">

    <!--styles-->
    <link href="{% static "login/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "login/css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "login/css/owl.theme.css" %}" rel="stylesheet">
    <link href="{% static "login/css/magnific-popup.css" %}" rel="stylesheet">
    <link href="{% static "login/css/style.css" %}" rel="stylesheet">
    <link href="{% static "login/css/responsive.css" %}" rel="stylesheet">
    
    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="{% static "login/images/logo.png" %}">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href="{% url 'login:sign_up' %}"><img alt="logo" class="logo-nav" src="{% static "login/images/logo.png" %}"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>Home</span>
            </a>
            <a data-scroll="" href="#about">
              <span>About</span>
            </a>
            <a data-scroll="" href="#contact">
              <span>Sign Up</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->
    
    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>Radiant</h1>
                    <br>
                    <span class="typed"></span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-6 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                        “What happens when people open their hearts?"
                        "They get better.” 
                      </p>
                      
                      <h5 class="name">
                        Haruki Murakami, Norwegian Wood
                      </h5>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 white-col">
                  <div class="row">
                    <!--OWL CAROUSEL2-->
                    <div class="owl-carousel2">
                      <div class="col-md-12">
                        <div class="wrap-about">
                          <div class="w-content">
                            <p class="head-about">
                               “The wound is the place where the Light enters you.” 
                            </p>

                            <h5 class="name">
                              Rumi
                            </h5>
                          </div>
                        </div>
                      </div>    
                </div>
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

        <!--SIGNUP-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Sign Up</span>

                </h3>
                <p class="head-about">
                   “You've gotta dance like there's nobody watching,"
                    "Love like you'll never be hurt,"
                    "Sing like there's nobody listening,"
                    "And live like it's heaven on earth.”  
                </p>

                <h5 class="name">
                  William W. Purkey
                </h5>

              </div>
              <div class="col-md-9 content-right">
                <form action="{% url 'login:sign_up' %}" method="post">
                {% csrf_token %}
                  <div class="group">
                    <input required="" type="text" name="firstname"><span class="highlight"></span><span class="bar"></span><label>First Name</label>
                  </div>
                  <div class="group">
                    <input required="" type="text" name="lastname"><span class="highlight"></span><span class="bar"></span><label>Last Name</label>
                  </div>
                  <div class="group">
                    <input required="" type="text" name="username"><span class="highlight"></span><span class="bar"></span><label>Username</label>
                  </div>
                  <div class="group">
                    <input required="" type="password" name="password"><span class="highlight"></span><span class="bar"></span><label>Password</label>
                  </div>
                  <div class="group">
                    <input required="" type="password" name="password_retype"><span class="highlight"></span><span class="bar"></span><label>Retype Password</label>
                  </div>
                  <div class="group">
                    <input required="" type="email" name="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <input id="signUp" name="signUp" type="submit" value="Sign Up">
                </form>
              </div>
            </div>
          </div>
            <a href="{% url 'login:sign_in' %}">Already have an account? Sign in here</a>
        </section>
        <!--/.CONTACT END-->
        
        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="#" data-hover="Facebook">Facebook</a>
              </li>
              <li class="twitter">
                <a href="#" data-hover="Twitter">Twitter</a>
              </li>
              <li class="gplus">
                <a href="#" data-hover="Google +">Google +</a>
              </li>
            </ul>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
    
    <script src="{% static "login/js/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/jquery.appear.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/classie.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/owl.carousel.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/jquery.magnific-popup.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/masonry.pkgd.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/masonry.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/smooth-scroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/typed.js" %}" type="text/javascript"></script>
    <script src="{% static "login/js/main.js" %}" type="text/javascript"></script>
  </body>
</html>