<!DOCTYPE html>
<head></head>
<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'login:sign_up' %}" method="post">
    {% csrf_token %}
        First Name:<br>
        <input type="text" name="firstname">
        <br>
        Last Name:<br>
        <input type="text" name="lastname">
        <br>
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        Retype Password:<br>
        <input type="password" name="password_retype">
        <br>
        Email:<br>
        <input type="email" name="email">
        <br>
        <input type="submit" value="Sign Up">
    </form>
    <a href="{% url 'login:sign_in' %}">Already have an account? Sign in here</a>
</body>